<!DOCTYPE html>
<html class="bg-white">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="og:title" content="Money Pit">
        <meta name="og:description" content="Money Pit | A stock market simulator where the goal is to lose.">
        <meta name="og:image" content="{{ url_for('static', filename='images/banner-image.png') }}">
        <meta name="og:url" content="https://money-pit.person20020.dev/">
        <meta name="og:type" content="website">
        <meta name="og:site_name" content="Money Pit">
        <meta name="og:locale" content="en_US">
        <meta name="og:icon" content="{{ url_for('static', filename='images/logo.png') }}">

		<script defer data-domain="money-pit.person20020.dev" src="https://analytics.person20020.dev/js/script.file-downloads.hash.outbound-links.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const header = document.querySelector('header');
                const headerHeight = header?.offsetHeight || 0;

                const roundedHeight = Math.ceil(headerHeight / 4) * 4;

                const headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');

                headings.forEach(element => {
                    element.style.scrollMarginTop = `${roundedHeight}px`;
                })
            })
        </script>

        <title>{% block title %}Money Pit{% endblock %} | Money Pit</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="/static/tailwind.css">
    </head>
    <body class="bg-gray-950 bg-cover bg-center min-h-screen bg-no-repeat bg-fixed flex flex-col">
        {% include "header.html" %}
        <main class="flex-grow p-2 sm:p-12 pt-17">
            
            <!-- Display message if it exists -->      
            {% with messages = get_flashed_messages() %}
                {% if messages %}      
                    {% for message in messages %}
                        <div id="banner" class="bg-blue-300 text-black pl-5 pr-2 py-1 rounded-lg mb-4 flex items-center justify-between shadow-lg lg:max-w-50% mx-auto">
                            <span>
                                {{ error }}
                            </span>
                            <button onclick="document.getElementById('banner').remove()" aria-label="Close banner" class="text-xl font-bold focus:outline-none px-3 m-1">
                                &times;
                            </button>
                            <script>
                                document.addEventListener('DOMContentLoaded', () => {
                                    setTimeout(() => {
                                        const banner = document.getElementById('banner');
                                        if (banner) {
                                            banner.style.transition = 'opacity 0.5s';
                                            banner.style.opacity = '0';
                                            setTimeout(() => banner.remove(), 500);
                                        }
                                    }, 10000);
                                });
                            </script>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if error %}
            <div id="banner" class="bg-blue-300 text-black pl-5 pr-2 py-1 rounded-lg mb-4 flex items-center justify-between shadow-lg lg:max-w-50% mx-auto">
                <span>
                    {{ error }}
                </span>
                <button onclick="document.getElementById('banner').remove()" aria-label="Close banner" class="text-xl font-bold focus:outline-none px-3 m-1">
                    &times;
                </button>
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        setTimeout(() => {
                            const banner = document.getElementById('banner');
                            if (banner) {
                                banner.style.transition = 'opacity 0.5s';
                                banner.style.opacity = '0';
                                setTimeout(() => banner.remove(), 500);
                            }
                        }, 10000);
                    });
                </script>
            </div>
            {% endif %}
            
            {% block content %}{% endblock %}
        </main>
            
        {% include "footer.html" %}
    </body>
</html>
