<!DOCTYPE html>
<html class="bg-white">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="og:title" content="Money Pit">
        <meta name="og:description" content="Money Pit | A stock market simulator where the goal is to lose.">
        <meta name="og:image" content="{{ url_for('static', filename='images/banner-image.png') }}">
        <meta name="og:url" content="https://money-pit.person20020.dev/">
        <meta name="og:type" content="website">
        <meta name="og:site_name" content="Money Pit">
        <meta name="og:locale" content="en_US">
        <meta name="og:icon" content="{{ url_for('static', filename='images/logo.png') }}">

		<script defer data-domain="money-pit.person20020.dev" src="https://analytics.person20020.dev/js/script.file-downloads.hash.outbound-links.js"></script>
		<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const header = document.querySelector('header');
                const headerHeight = header?.offsetHeight || 0;

                const roundedHeight = Math.ceil(headerHeight / 4) * 4;

                const headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');

                headings.forEach(element => {
                    element.style.scrollMarginTop = `${roundedHeight}px`;
                })
            })
        </script>

        <title>{% block title %} Money Pit {% endblock %} | Money Pit</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="/static/tailwind.css">
    </head>
    <body class="bg-gray-950 bg-cover bg-center min-h-screen bg-no-repeat bg-fixed flex flex-col">
        
        {% include "header.html" %}
        <main class="flex-grow p-12 pt-17">
            <div class="flex flex-col items-center">
                <h1 class="text-slate-300">Money Pit</h1>
                <h2 class="text-slate-300 text-center">
                    The stock market simulator where the goal is to lose.
                </h2>
                <img src="{{ url_for('static', filename='images/large.png') }}" alt="Stock graph" class="w-1/3 h-auto mt-4">
                <div class="flex flex-col items-center md:w-[700px]">
                    <p>
                        Compete against others and trade using realtime market prices to loose your money as fast as possible!
                    </p>
                    <p>
                        Initially you will start with $1 million and you will attempt to get down to 5% of your starting capital. The reason for this is that you will almost never get all of the way to 0 because it would require the company to go bankrupt which doesn't happen often enough.
                    </p>
                </div>
            </div>
            </main>
            
            {% include "footer.html" %}
        </body>
        </html>



