{% extends "base.html" %}
{% block title %}Login{% endblock %}



{% block content %}


<br>
<div class="flex flex-col mx-auto w-fit bg-slate-800 p-2 pb-4 2xs:p-6 2xs:pb-6 rounded-3xl shadow-custom-light">
    <form method="post" action="/login" class="flex flex-col justify-center mx-auto">
        <h3 class="p-1">Log In</h3>
        <div class="p-1">
            <label for="username" class="text-slate-300">Username:</label><br>
            <input type="text" id="username" name="username" autocomplete="username" required>
        </div>
        <div class="p-1">
            <label for="password" class="text-slate-300">Password:</label><br>
            <input type="password" id="password" name="password" autocomplete="current-password" required>
        </div>
        <div class="p-1 flex flex-col">
            <p>No account? <a href="/register">Create one!</a></p>
            <a href="/reset-password">Forgot password</a>
        </div>
        <div class="p-1">
            <button type="submit">Log in</button>
        </div>
    </form>
</div>


{% endblock %}