{% extends "base.html" %}
{% block title %}Register{% endblock %}



{% block content %}


<br>
<div class="flex flex-col mx-auto w-fit bg-slate-800 p-2 pb-4 2xs:p-6 2xs:pb-6 rounded-3xl shadow-custom-light">
    <h3 class="p-1">Register</h3>
    <form method="post" action="/register" class="flex flex-col justify-center mx-auto">
        <div class="p-1">
            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" name="email" autocomplete="email" required>
        </div>
        <div class="p-1">
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" autocomplete="username" required>
        </div>
        <div class="p-1">
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" autocomplete="new-password" required>
        </div>
        <div class="p-1">
            <label for="confirm_password">Confirm Password:</label>
            <br>
            <input type="password" id="confirm_password" name="confirm_password" autocomplete="new-password" required>
        </div>
        <div class="p-1">
            <p>Already have an account? <a href="/login">Sign in</a></p>
        </div>
        <div class="p-1">
            <button type="submit">Register</button>
        </div>
    </form>
</div>


{% endblock %}