{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}



{% block content %}


<br>
<div class="flex flex-col mx-auto w-fit bg-slate-800 p-2 pb-4 2xs:p-6 2xs:pb-6 rounded-3xl shadow-custom-light">
    {% if step==1 %}
    <form id="username-form" method="post" action="/reset-password">
        <div class="p-1">
            <label>Username:</label><br>
            <input type="text" name="username" autocomplete="username">
        </div>
        <div class="p-1">
            <label>Email:</label>
            <br>
            <input type="email" name="email" autocomplete="email" required>
        </div>
        <div class="p-1">
            <button type="submit">Send Code</button>
        </div>
    </form>
    
    {% elif step==2 %}
    <form id="confirmation-code-form" method="post" action="/reset-password">
        <div class="p-1">
            <label>Enter Code:</label><br>
            <input type="text" name="reset_code" autocomplete="one-time-code" required>
        </div>
        <div class="p-1">
            <button type="submit">Verify Code</button>
        </div>
    </form>

    {% elif step==3 %}
    <form id="new-pw-form" method="post" action="/reset-password">
        <div class="p-1">
            <label>New Password:</label><br>
            <input type="password" name="new_password" autocomplete="new-password" required>
        </div>
        <div class="p-1">
            <label>Confirm New Password:</label><br>
            <input type="password" name="confirm_new_password" autocomplete="new-password" required>
        </div>
        <div class="p-1">
            <button type="submit">Reset Password</button>
        </div>
    </form>
    {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 stroke-red-700">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
    </svg>
    {% endif %}
</div>


{% endblock %}